<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Appetizers</h1>


            </header>


            <div class="content clearfix">


              <div align="center">


               <lu> <%= image_tag('appetizer2.jpg', width: 610, height: 230) %>  </lu>
                <lu> <%= image_tag('appetizer1.jpg', width: 610, height: 230) %>  </lu>


              </div>
              <table style="width: 100%;" class="zebra">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#1 Chả Giò (Vietnamese Eggroll)</h3>
                    <ul>
                      <li>Pork, shrimp, clear vermicelli and carrot wrapped in thin rice paper and deep-fried until
                        crisp
                      </li>
                      <li>Served with lettuce leaves and fish sauce dip</li>
                    </ul>
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;"><span style="font-size: 12px; font-weight: normal;">1 Roll:</span> $
                      1.40<br/><span style="font-size: 12px; font-weight: normal;">2 Rolls:</span> $ 2.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#2 Chả Giò Chay (Vegetarian Eggroll)</h3>
                    <ul>
                      <li>Vegetarian Egg Rolls</li>
                    </ul>
                  </td>
                  <td>
                    <h3 style="text-align: right;"><span style="font-size: 12px; font-weight: normal;">1 Roll:</span> $
                      1.25<br/>
                      <span style="font-size: 12px; font-weight: normal;">2 Rolls:</span> $ 2.25</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#3 Gỏi Cuốn (Fresh Spring Roll)</h3>
                    <ul>
                      <li>Bean sprouts, shrimp, pork, vermicelli and mint wrapped in thin rice paper</li>
                      <li>Served fresh with peanut sauce</li>
                    </ul>
                  </td>
                  <td>
                    <h3 style="text-align: right;"><span style="font-size: 12px; font-weight: normal;">1 Roll:</span> $
                      1.50<br/>
                      <span style="font-size: 12px; font-weight: normal;">2 Rolls:</span> $ 3.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#4 Gỏi Cuốn Chay (Fresh Vegetarian Spring Roll)</h3>
                    <ul>
                      <li>Bean srpouts, tofu, vermicelli and mint wrapped in thin rice paper</li>
                      <li>Served fresh with peanut sauce</li>
                    </ul>
                  </td>
                  <td>
                    <h3 style="text-align: right;"><span style="font-size: 12px; font-weight: normal;">1 Roll:</span> $
                      1.40<br/>
                      <span style="font-size: 12px; font-weight: normal;">2 Rolls:</span> $ 2.75</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>

  </div>
</div>

</body>

</html>