<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Beef Noodle Soup (Phở Bò)</h1>


            </header>


            <div class="content clearfix">

              <div align="center">


                <lu> <%= image_tag('VietnameseBeefNoodleSoup.jpg', width: 610, height: 400) %>  </lu>



              </div>



              <br/>All soups are served with a plate of fresh bean sprouts, lemon, spicy green peppers, cilantro and
              basil leaves.</p>
              <h3 style="text-align: right;">Small Bowl: $6.50<br/> Large Bowl: $7.50<br/>
                Egg Noodle: $7.75</h3>
              <table style="width: 100%;" class="zebra">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#9 Special Combination</h3>
                    Tái, Nạm, Gầu, Gân, Sách, Bò Viên (Eye round steak, well done flank, fatty brisket, soft tendon,
                    white omasum beef tripe, beef meatballs)
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;"><span style="font-size: 12px; font-weight: normal;">One Size:</span>
                      $ 8.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#10. Phở Dố Biển – Seafood</h3>
                    Noodle soup with seafood (shrimp, fishballs & crab stick soup)
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;">Small Bowl:</span> $ 6.75<br/>
                      <span style="font-size: 12px; font-weight: normal;">Large Bowl:</span> $ 7.75</h3>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#11 Phở Tái</h3>
                    Beef noodle soup with eye round steak
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#12 Phở Tái Chín</h3>
                    Beef noodle soup with eye round steak and well done lean mean
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#13 Phở Tái Nạm</h3>
                    Beef noodle soup with eye round steak and well-done flank
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#14 Phở Tái Gân</h3>
                    Beef noodle soup with eye round steak and soft tendon
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#15 Phở Tái Bò Viên</h3>
                    Beef noodle soup with eye round steak and beef meatballs
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#16 Phở Tái Nạm Gầu</h3>
                    Beef noodle soup with eye round steak, well-done flank and fatty brisket
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#17 Phở Tái Nạm Gân</h3>
                    Beef noodle soup with eye round steak, well-done flank and soft tendon
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#18 Phở Tái Nạm Gầu Gân</h3>
                    Beef noodle soup with eye round steak, well-done flank, fatty brisket, and soft tendon
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#19 Phở Tái Ve Dòn</h3>
                    Beef noodle soup with eye round steak and skirt flank
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#20 Phở Nạm Gầu Gân</h3>
                    Beef noodle soup with well-done flank, fatty brisket and soft tendon
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#21 Phở Nạm Gầu Gân Ve Dòn</h3>
                    Beef noodle soup with well-done flank, fatty brisket, soft tendon and skirt flank
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#22 Phở Chín</h3>
                    Beef noodle soup with well-done lean meat
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#23 Phở Chín Bò Viên</h3>
                    Beef noodle soup with well-done lean meat and meatballs
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#24 Phở Chín Nạm</h3>
                    Beef noodle soup with well-done lean meat and flank
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#25 Phở Chín Gân</h3>
                    Beef noodle soup with well-done lean meat and soft tendon
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#26 Phở Chín Nạm Gầu</h3>
                    Beef noodle soup with well-done lean meat, flank and brisket
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#27 Phở Bò Viên</h3>
                    Beef noodle soup with beef meatballs
                  </td>
                </tr>

                <tr>
                  <td>
                    <h3>#28 Phở Không Thịt</h3>
                    Meatless noodle soup (beef or chicken)
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;">Small Bowl:</span> $ 4.25<br/>
                      <span style="font-size: 12px; font-weight: normal;">Large Bowl:</span> $ 5.00</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>#29 Phở Bò Kho</h3>
                    Noodle with beef stew
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;">Small Bowl:</span> $ 6.50<br/>
                      <span style="font-size: 12px; font-weight: normal;">Large Bowl:</span> $ 7.50</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>#30 Bánh Mì Bò Kho</h3>
                    French bread with beef stew
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;">Small Bowl:</span> $ 6.50<br/>
                      <span style="font-size: 12px; font-weight: normal;">Large Bowl:</span> $ 7.50</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>

</body>
</html>