<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Beverages (Giải Khát)</h1>


            </header>


            <div class="content clearfix">


              <div align="center">


                <lu> <%= image_tag('cafe-sua-da.jpg',  width: 610, height: 400) %>  </lu>



              </div>
              </p>
              <table class="zebra" style="width: 100%;">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#80 Café Đen</h3>
                    Hot coffee
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">$ 1.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#81 Café Đá</h3>
                    Iced Coffee
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.25</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#82 Café Sữa</h3>
                    Coffee with condensed milk
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#83 Café Sữa Đá</h3>
                    Iced coffee with condensed milk
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#84 Chanh Muối</h3>
                    Salty lemon drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#85 Đá Chanh</h3>
                    Fresh lemon drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#86 Soda Chanh</h3>
                    Fresh lemon soda
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#87 Soda Sữa Hột Gà</h3>
                    Soda whipped with condensed milk and egg yolk
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#88 Sữa Đáu Nành</h3>
                    Soybean milk
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#89 Xí Muội</h3>
                    Salty plum drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#90 Nước Cam Vắt</h3>
                    Fresh orange juice
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#91 Nước Dữa</h3>
                    Coconut drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#92 Nước Ngọt</h3>
                    Soft drink (can)
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#93 Trà Đá Chanh</h3>
                    Lemon iced tea
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#94 Trà Đá</h3>
                    Iced tea
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#95 Trà Thái</h3>
                    Thai tea with tapioca
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Trà Sữa</h3>
                    Golden Milk Tea
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.50</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>



    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>


</body>
</html>