<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Chicken Noodle Soup (Phở Gà)</h1>


            </header>


            <div class="content clearfix">


              <div align="center">


                <lu> <%= image_tag('phoga.jpg', width: 610, height: 400) %>  </lu>



              </div>
              <br/>All soups are served with a plate of fresh bean sprouts, lemon, spicy green peppers, cilantro and
              basil leaves.</p>
              <h3 style="text-align: right;">Small Bowl: $ 6.75<br/>
                Large Bowl: $ 7.50<br/>
                Egg Noodle: $ 7.75</h3>
              <table class="zebra" style="width: 100%;">
                <tbody>
                <tr>
                  <td>
                    <h3>#40 Phở Gà Thịt Tráng</h3>
                    Chicken noodle soup with white meat chicken
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>#41 Phở Gà Thịt Nâu</h3>
                    Chicken noodle soup with dark meat chicken
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>#42 Phở Gà Hon Hop</h3>
                    Chicken noodle soup with white and dark meat chicken
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>#43 Miến Gà</h3>
                    Clear vermicelli chicken soup with chicken
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>
</body>
</html>
