<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Dessert (Tráng Miệng)</h1>


            </header>


            <div class="content clearfix">


              <div align="center">


                <lu> <%= image_tag('che.jpg', width: 610, height: 600) %>  </lu>


              </div>
              </p>
              <table class="zebra" style="width: 100%;">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#70 Chè Đặc Biệt</h3>
                    Combination dessert bean pudding
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">$ 2.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#71 Chè Đậu Trắng</h3>
                    White Dessert Bean Pudding
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#72 Chè Đậu Dỏ</h3>
                    Red Dessert Bean Pudding
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#73 Sương Sa Hột Lựu</h3>
                    Jelly &amp; Tapioca in coconut milk
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.75</h3>
                  </td>
                </tr>
                <!--<tr valign="top">
                <td>
                <h3>#74 Nhãn Nhục</h3>
                Longan in syrup</td>
                <td>
                <h3 style="text-align: right;">$ 1.60</h3>
                </td>
                </tr>-->
                <tr valign="top">
                  <td>
                    <h3>#75 Sinh Tố Mãng Cầu</h3>
                    Soursop smoothie drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.25</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#76 Sinh Tố Sầu Riêng</h3>
                    Durian smoothie drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.25</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#77 Sinh Tố Bò</h3>
                    Avocado smoothie
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.25</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>

</body>
</html>