<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Egg Noodle Soup (Mì)</h1>


            </header>


            <div class="content clearfix">

              <div align="center">


                <lu> <%= image_tag('miwonton.jpg', width: 610, height: 550) %>  </lu>



              </div>
              <h3 style="text-align: right;">One Size: $ 7.75</h3>
              <table class="zebra" style="width: 100%;">
                <tbody>
                <tr>
                  <td colspan="2">
                    <h3>#31 Mì Bò Kho</h3>
                    Egg noodle with beef stew
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#32 Mì Bò Viên</h3>
                    Egg noodle with meatballs
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#33 Mì Gà</h3>
                    Egg noodle in chicken soup with chicken
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#34 Mì Đồ Biển</h3>
                    Egg noodle with shrimp, crab stick and fish balls
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h3>#35 Mì Cá Viên</h3>
                    Egg noodle with fish balls
                  </td>
                </tr>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#69. Bún Bò Huế</h3>
                    Hue style thick vermicelli soup with beef and pork
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;">Small Bowl:</span> $ 6.75<br/>
                      <span style="font-size: 12px; font-weight: normal;">Large Bowl:</span> $ 7.75</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>

</body>
</html>