<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Menu</h1>


            </header>


            <div class="content clearfix">

              <div>
                <p>Pho, Vietnamese dish that has been around for many decades. The pho that we offer is made with beef
                  as well as other kinds of meat that
                  may be substituted. Chicken also creates dish that are popular within our menu. Even though our main
                  specialty is soup, we offer other
                  dishes that include grilled beef, chicken, or shrimp served with rice vermicelli. Pho food can be
                  eaten throughout the day as breakfast,
                  lunch or dinner. We offer a variety of dishes for everybody to enjoy. </p>

                  <p>Pho in the Houston area, has become very popular among communities. Saigon Pho and Grill is
                    individually owned and operated that offers great
                    flavor and taste. As an individual owner with past experience in Vietnamese food, my commitment is
                    to provide authentic taste with great
                    customer service. </p>

                <p>
                  Saigon Pho and Grill has been operating since early this year and plans to be around for awhile. We have been proud to continue to see
                  our progress grow as well as our customers that continue to come. Our commitment is to offer healthy selection with quality meats and
                  produce that offers satisfying pho soup.

                </p>

              </div>

            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>

  </div>
</div>

</body>

</html>