<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Side Items (Dine-In Only)</h1>


            </header>


            <div class="content clearfix">


              <table style="width: 100%;" class="zebra">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>Bánh Mì (French Bread)</h3>
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">$ .75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Trứng Chiên (Fried Egg)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Chén Cơm (Bowl of Steamed Rice)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Bánh Chén (Bowl of Rice Noodles)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>đĩa Tái (Plate of Eye-Round Steak)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Chén Bò Viên (Bowl of Beef Meatballs)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Thêm Bò Viên (Add Beef Meatballs)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Thêm Chén Mì (Bowl of Egg Noodles)</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 2.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Vietnamese Sandwich</h3>
                    Choose charbroiled chicken, pork or beef
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.25</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Thêm đĩa Rau (Extra serving of beansprouts and greens</h3>
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 1.00</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>

</body>
</html>