<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>

<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Special (Đặc Biệt)</h1>


            </header>


            <div class="content clearfix">

              <div align="center">


                <lu> <%= image_tag('crawfish.jpg', width: 610, height: 600) %>  </lu>



              </div>

              </p>
              <table class="zebra" style="width: 100%;">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#10 Phở Đồ Biển</h3>
                    Noodle soup with seafood (Shrimps, fishballs &amp; crab stick)
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Small:</span> $
                      6.25<br/><span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Large:</span> $
                      7.25</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#28 Phở Không Thịt</h3>
                    Meatless noodle soup (Beef or chicken)
                  </td>
                  <td>
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Small:</span> $ 4.25<br/>
                      <span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Large:</span> $ 5.00</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#98 Children's Bowl</h3>
                    Beef or chicken noodle soup
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 3.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#99 Children's Combo Meal</h3>
                    Beef or chicken noodle soup with an eggroll and soft drink
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 4.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>Phở Tofu</h3>
                    Beef or chicken noodle soup with Tofu
                  </td>
                  <td>
                    <h3 style="text-align: right;">
                      <span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Small Bowl:</span> $
                      6.00<br/><span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Large Bowl:</span>
                      $
                      6.75<br/><span style="font-size: 12px; font-weight: normal;" data-mce-mark="1">Egg Noodle:</span>
                      $ 7.00</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>

</body>
</html>