<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">

<body>


<div id="block-main" class="grid-block">


  <div id="main" class="grid-block">

    <div id="maininner" class="grid-box">


      <section id="content" class="grid-block">
        <div id="system-message-container">
        </div>

        <div id="system">


          <article class="item no-date">

            <header>


              <h1 class="title">Vermicelli (Bún)</h1>


            </header>


            <div class="content clearfix">


              <div align="center">


                <lu> <%= image_tag('bun.jpg', width: 610, height: 500) %>  </lu>



              </div>
              </p>
              <table class="zebra" style="width: 100%;">
                <tbody>
                <tr valign="top">
                  <td style="width: 80%;">
                    <h3>#49 Bún Tofu</h3>
                    Vermicelli with lightly fried tofu
                  </td>
                  <td style="width: 20%;">
                    <h3 style="text-align: right;">$ 6.75</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#58 Bún Bò Nướng Sả</h3>
                    Vermicelli with charbroiled lemon grass sliced beef
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#59 Bún Bò Nướng Chả Giò</h3>
                    Vermicelli with charbroiled lemon grass sliced beef and fried egg roll
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#60 Bún Bì Chả Giò</h3>
                    Vermicelli with shredded pork skin and fried egg roll
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#60B Bún Chả Giò</h3>
                    Vermicelli with fried egg roll
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#61 Bún Bì Thịt Nướng</h3>
                    Vermicelli with shredded pork skin and charbroiled sliced pork
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#62 Bún Tôm Nướng</h3>
                    Vermicelli with charbroiled shrimps
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#63 Bún Tôm Thịt Nướng</h3>
                    Vermicelli with charbroiled sliced pork and shrimp
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#64 Bún Tôm Nướng Chả Giò</h3>
                    Vermicelli with charbroiled shrimp and fried egg roll
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#65 Bún Thịt Nướng</h3>
                    Vermicelli with charbroiled sliced pork
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#66 Bún Thịt Nướng Chả Giò</h3>
                    Vermicelli with charbroiled sliced pork and fried egg roll
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#67 Bún Gà Nướng</h3>
                    Vermicelli with charbroiled chicken
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#68 Bún Gà Nướng Chả Giò</h3>
                    Vermicelli with charbroiled chicken and fried egg roll
                  </td>
                  <td>
                    <h3 style="text-align: right;">$ 7.50</h3>
                  </td>
                </tr>
                <tr valign="top">
                  <td>
                    <h3>#69 Bún Bò Huê</h3>
                    Hue style thick vermicelli with soup, beef and pork
                  </td>
                  <td>
                    <h3 style="text-align: right;"><span style="font-size: 12px; font-weight: normal;">Small:</span> $
                      6.75<br/>
                      <span style="font-size: 12px; font-weight: normal;">Large:</span> $ 7.75</h3>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>


          </article>

        </div>
      </section>


    </div>
    <!-- maininner end -->

    <aside id="sidebar-a" class="grid-box">
      <div class="grid-box width100 grid-v">
        <div class="module mod-box mod-box-color  deepest">

          <h3 class="module-title">Our Menu</h3>
          <ul class="menu menu-sidebar">
            <li class="level1 item123"><a href="/menu/appetizers" class="level1"><span>Appetizers</span></a></li>
            <li class="level1 item124">
              <a href="/menu/beefnoodlesoups" class="level1"><span>Beef Noodle Soup (Phở Bò)</span></a></li>
            <li class="level1 item125">
              <a href="/menu/special" class="level1"><span>Special (Dặc Biệt)</span></a></li>
            <li class="level1 item126">
              <a href="/menu/chickennoodlesoup" class="level1"><span>Chicken Noodle Soup (Phở Gà)</span></a>
            </li>
            <li class="level1 item127">
              <a href="/menu/eggnoodlesoup" class="level1"><span>Egg Noodle Soup (Mì)</span></a></li>
            <li class="level1 item128">
              <a href="/menu/steamedriceplate" class="level1"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
            </li>
            <li class="level1 item129"><a href="/menu/vermicelli" class="level1"><span>Vermicelli (Bún)</span></a>
            </li>
            <li class="level1 item144">
              <a href="/menu/sideitems" class="level1"><span>Side Items</span></a></li>
            <li class="level1 item132">
              <a href="/menu/beverages" class="level1"><span>Beverages (Giải Khát)</span></a></li>
            <li class="level1 item130 ">
              <a href="/menu/dessert" class="level1 "><span>Dessert (Tráng Miệng)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </aside>


  </div>
</div>

</body>
</html>