<h1>Expense Report</h1>
<p id="notice"><%= notice %></p>
<%= form_tag(expense_report_path, :method => :post) do %>

  <h3>Start Date</h3>
  <%= date_field_tag :start_date %>

  <h3>End Date</h3>
  <%= date_field_tag :end_date %>

  <br>

  <%= submit_tag "Submit " %>

<% end %>
<h1>Orders</h1>

<%#= submit_tag "Export to Excel", onclick: "tableToExcel ('testTable')", remote: true %>
<button onclick="tableToExcel('testTable', 'W3C Example Table')" > Export to Excel</button>
<table class="greenTable" id="testTable">
  <thead class="">
  <tr>
    <th>Invoice Number</th>
    <th>Date of Purchase</th>
    <th>Sub Total</th>
    <th>Tax</th>
    <th>Total Amount</th>
    <th>Status</th>
    <th>Vendor Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody class="table table-hover">
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.date_of_purchase %></td>
      <td><%= number_to_currency(order.sub_total) %></td>
      <td><%= number_to_currency(order.tax) %></td>
      <td><%= number_to_currency(order.total_amount) rescue "NA" %></td>
      <td><%= order.status.name %></td>
      <td>
        <% order.order_vendors.each do |vendor| %>  <%= vendor.vendor.name %>
        <% end %>  </td>

      <td><%= button_to 'Show', order, method: :get %></td>
      <!--      <td><%#= link_to 'Edit', edit_order_path(order) %></td>-->
      <!--      <td><%#= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->


    </tr>
  <% end %>
  </tbody>
</table>
<!--<p>The <span id="" class="bold-blue">total</span> price of a sales item is <%#= number_to_currency(@item_average_price) %>.</p>-->
<br>

<%#= link_to 'New Order', new_order_path %>

