<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Invoice Number" %>
    <%= form.text_field :name %>
  </div>


  <div>
    <%= form.fields_for :order_vendors do |f| %>
      <%= f.label :vendor_id %>
      <%= f.collection_select :vendor_id, Vendor.all, :id, :name %>
    <% end %>

  </div>

  <div class="field">
    <%= form.label :date_of_purchase %>
    <%= form.date_select :date_of_purchase %>
  </div>

  <!--  <div id="order_items">-->
  <%#= form.fields_for :order_items do |t| %>
  <%#= render "order_item_fields", form: t, form_name: 'form' %>
  <%# end %>
  <!--    <div class="links">-->
  <%#= link_to_add_association "Add Order Item", form, :order_items, form_name: 'form' %>
  <!--    </div>-->

  <div class="field" id='order_items'>
    <%= form.fields_for :order_items do |t| %>
      <%= render 'order_item_fields', form: t, form_name: 'form' %>
    <% end %>
    <%= link_to_add_association 'Add Order Item', form, :order_items, form_name: 'form' %>

  </div>
  <div class="field">
    <%= form.label :status_id %>
    <%= form.collection_select :status_id, Status.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<!--  <div class="field">-->
    <%# form.label :sub_total %>
    <%# form.text_field :sub_total %>
<!--  </div>-->

<!--  <div class="field">-->
    <%# form.label :tax %>
    <%# form.text_field :tax %>
<!--  </div>-->

  <!--  <div class="field">-->
  <%# form.label :total_amount %>
  <%# form.label :total_amount %>
  <!--  </div>-->

<% end %>