<div class ="nested-fields">
  <!--  <div class = "field">-->
  <%#= form.fields_for :order_items do |t| %>
  <%#= form.label :item_id %>
  <%#= form.collection_select :item_id, Item.all, :id, :name %>
  <%#= form.number_field :quantity, id: :order_item_quantity %>
  <%# end %>

  <!--  </div>-->
  <!--  <div class="field">-->
  <%#= link_to_remove_association "Remove Order Item", form, form_name: 'form' %>
  <!--  </div>-->





  <%= form.collection_select :item_id, Item.all, :id, :name %> Quantity
  <%= form.number_field :quantity, id: :order_item_quantity %>
  <%= link_to_remove_association 'Remove Order Item', form, form_name: 'form' %>


</div>