<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="greenTable">
  <thead>
    <tr>
      <th>Invoice Number</th>
      <th>Date of Purchase</th>
      <th>Sub Total</th>
      <th>Tax</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.date_of_purchase %></td>
        <td><%= number_to_currency(order.sub_total) %></td>
        <td><%= number_to_currency(order.tax) %></td>
        <td><%= number_to_currency(order.total_amount) %></td>
        <td><%= order.status.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= button_to 'New Order', new_order_path, method: :get  %>

</div>

