<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice Number:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Date of purchase:</strong>
  <%= @order.date_of_purchase %>
</p>



<p>
  <strong>Items we bought:</strong>
</p>




<div class="table-responsive">
  <table class="greenTable">
    <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.item.price) %> </td>
        <td><%= item.item.description %> </td>


      </tr>
    <% end %>
    </tbody>
  </table>
</div>





<!--<p>-->
<!--  <strong>Items we bought:</strong>-->
<%# @order.order_items.each do |item| %>
<!--  <li> <%#= item.item.name %> <%#= item.item.price %>  </li>-->
<%# end %>
<!--</p>-->

<p>
  <strong>Sub total:</strong>
  <%= number_to_currency(@order.sub_total) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_to_currency(@order.tax) %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= number_to_currency(@order.total_amount) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>