<!DOCTYPE HTML>
<html lang="en-gb" dir="ltr">


<head>
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
    }
  </style>
</head>
<body>
<h3>Our Location</h3>
<!--The div element for the map -->
<div class="mapouter">
  <div class="gmap_canvas">
    <iframe width="900" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=4645%20Highway%206%2C%20Ste%20L%20Sugar%20Land%2C%20Texas%2077478&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <a href="https://www.pureblack.de">werbeagentur</a></div>
  <style>.mapouter {
    text-align: right;
    height: 500px;
    width: 900px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 900px;
  }</style>
</div>
</body>
</html>