<%= form_with(model: order_vendor, local: true) do |form| %>
  <% if order_vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_vendor.errors.count, "error") %> prohibited this order_vendor from being saved:</h2>

      <ul>
      <% order_vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.text_field :vendor_id %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
