<p id="notice"><%= notice %></p>

<h1>Order Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_vendors.each do |order_vendor| %>
      <tr>
        <td><%= order_vendor.vendor %></td>
        <td><%= order_vendor.order %></td>
        <td><%= link_to 'Show', order_vendor %></td>
        <td><%= link_to 'Edit', edit_order_vendor_path(order_vendor) %></td>
        <td><%= link_to 'Destroy', order_vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Vendor', new_order_vendor_path %>
