<p id="notice"><%= notice %></p>

<p>
  <strong>Vendor:</strong>
  <%= @order_vendor.vendor %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_vendor.order %>
</p>

<%= link_to 'Edit', edit_order_vendor_path(@order_vendor) %> |
<%= link_to 'Back', order_vendors_path %>
