.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.width20 {
    width: 20%
}

.width25 {
    width: 25%
}

.width33 {
    width: 33.333%
}

.width50 {
    width: 50%
}

[class*='width'] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.wk-slideshow img,
.wk-gallery img,
.spotlight img,
a[data-lightbox] img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

.wk-slideset img,
.wk-slideshow
canvas {
    vertical-align: middle
}

.wk-slideset
img {
    max-width: none !important
}

.wk-content > a:first-child {
    display: block
}

.wk-content > *:first-child {
    margin-top: 0
}

.wk-content > *:last-child {
    margin-bottom: 0
}

.wk-slideshow {
    visibility: hidden
}

.wk-slideshow,
.wk-slideshow
.slides {
    position: relative
}

.wk-slideshow .slides,
.wk-slideshow
.nav {
    list-style: none;
    margin: 0;
    padding: 0
}

.wk-slideshow .slides > li {
    position: absolute
}

.wk-slideshow .slides > li > a {
    display: block
}

.wk-slideshow .nav
li {
    cursor: pointer
}

.wk-slideshow .nav
span {
    display: block
}

.wk-slideshow .next,
.wk-slideshow
.prev {
    position: absolute;
    z-index: 5;
    cursor: pointer
}

.wk-slideshow
.caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5)
}

.wk-slideshow
.captions {
    display: none
}

.wk-slideshow .caption,
.wk-slideshow .caption
a {
    color: #fff
}

.wk-slideshow .caption
a {
    text-decoration: underline
}

.wk-slideshow[data-options*="kenburns"] img {
    max-width: none;
    position: relative
}

.wk-slideset {
    visibility: hidden
}

.wk-slideset
.sets {
    overflow: hidden
}

.wk-slideset .set,
.wk-slideset
.nav {
    list-style: none;
    margin: 0;
    padding: 0
}

.wk-slideset
.set {
    display: none;
    position: relative;
    text-align: center;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top
}

.wk-slideset .set:first-child {
    display: block
}

.wk-slideset .set > li {
    position: absolute
}

.wk-slideset .nav
span {
    display: block;
    cursor: pointer
}

.wk-slideset .next,
.wk-slideset
.prev {
    position: absolute;
    z-index: 5;
    cursor: pointer
}

.wk-accordion
.toggler {
    margin: 0;
    cursor: pointer
}

.wk-map
img {
    max-width: none
}

.wk-accordion, .wk-map {
    max-width: 100%
}

@media (max-width: 767px) {
    .wk-slideshow
    .caption {
        font-size: 10px;
        line-height: 14px
    }
}

.wk-accordion-default {
    margin-bottom: -10px
}

.wk-accordion-default
.toggler {
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid #ddd;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #F5F5F5 100%);
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #F5F5F5 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%, #F5F5F5 100%);
    background: linear-gradient(to bottom, #FAFAFA 0%, #F5F5F5 100%);
    border-radius: 5px;
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff
}

.wk-accordion-default
.content {
    padding: 10px
}

.wk-slideshow-inside
.nav {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    overflow: hidden
}

.wk-slideshow-inside .nav
li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 7px 0 0;
    background: #fff;
    float: left
}

.wk-slideshow-inside .nav:hover
img {
    opacity: 0.4
}

.wk-slideshow-inside .nav li:hover
img {
    opacity: 1
}

.wk-slideshow-inside .nav li
img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.wk-slideshow-inside > div {
    position: relative
}

.wk-slideshow-inside > div:hover .next,
.wk-slideshow-inside > div:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/gallery/styles/inside/images/buttons.png") 0 50px no-repeat
}

.wk-slideshow-inside > div:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-slideshow-inside > div:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

.wk-slideshow-inside
.caption {
    bottom: auto;
    top: 0
}

@media (max-device-width: 1024px) {
    .wk-slideshow-inside .next,
    .wk-slideshow-inside
    .prev {
        display: none
    }
}

.wk-gallery-showcase .slides-container {
    position: relative
}

.wk-gallery-showcase .slides-container:hover .next,
.wk-gallery-showcase .slides-container:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/gallery/styles/showcase/images/buttons.png") 0 50px no-repeat
}

.wk-gallery-showcase .slides-container:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-gallery-showcase .slides-container:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

.wk-gallery-showcase .wk-slideset > div {
    padding: 0 60px
}

.wk-gallery-showcase .wk-slideset.no-buttons > div {
    padding: 0
}

.wk-gallery-showcase .wk-slideset
.sets {
    padding: 10px 0 3px 0
}

.wk-gallery-showcase .wk-slideset .set > li > div {
    margin: 0 3px;
    cursor: pointer
}

.wk-gallery-showcase .wk-slideset .set > li > div > img {
    display: block
}

.wk-gallery-showcase .wk-slideset .set:hover > li > div {
    opacity: 0.4
}

.wk-gallery-showcase .wk-slideset .set > li > div:hover {
    opacity: 1
}

.wk-gallery-showcase .wk-slideset .set:hover > li > div {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.wk-gallery-showcase .wk-slideset > div {
    position: relative
}

.wk-gallery-showcase .wk-slideset > div .next,
.wk-gallery-showcase .wk-slideset > div
.prev {
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -13px;
    background: url("/media/widgetkit/widgets/gallery/styles/showcase/images/navigation_buttons.png") 0 30px no-repeat
}

.wk-gallery-showcase .wk-slideset > div
.next {
    right: 25px;
    background-position: 0 0
}

.wk-gallery-showcase .wk-slideset > div
.prev {
    left: 25px;
    background-position: 0 -90px
}

.wk-gallery-showcase .wk-slideset > div .next:hover {
    background-position: 0 -30px
}

.wk-gallery-showcase .wk-slideset > div .next:active {
    background-position: 0 -60px
}

.wk-gallery-showcase .wk-slideset > div .prev:hover {
    background-position: 0 -120px
}

.wk-gallery-showcase .wk-slideset > div .prev:active {
    background-position: 0 -150px
}

@media (max-device-width: 1024px) {
    .wk-gallery-showcase .slides-container .next,
    .wk-gallery-showcase .slides-container
    .prev {
        display: none
    }
}

.wk-gallery-showcasebox .slides-container {
    border-radius: 5px 5px 0 0;
    overflow: hidden
}

.wk-gallery-showcasebox .slides-container {
    position: relative
}

.wk-gallery-showcasebox .slides-container:hover .next,
.wk-gallery-showcasebox .slides-container:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/gallery/styles/showcase_box/images/buttons.png") 0 50px no-repeat
}

.wk-gallery-showcasebox .slides-container:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-gallery-showcasebox .slides-container:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

.wk-gallery-showcasebox .wk-slideset > div {
    padding: 0 60px;
    border: 1px solid #222;
    background: #555;
    background: -moz-linear-gradient(top, #444 0%, #555 7%, #444 100%);
    background: -webkit-linear-gradient(top, #444 0%, #555 7%, #444 100%);
    background: -o-linear-gradient(top, #444 0%, #555 7%, #444 100%);
    background: linear-gradient(to bottom, #444 0%, #555 7%, #444 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset,
    0 0 50px rgba(0, 0, 0, 0.2) inset;
    border-radius: 0 0 5px 5px
}

.wk-gallery-showcasebox .wk-slideset.no-buttons > div {
    padding: 0
}

.wk-gallery-showcasebox .wk-slideset
.sets {
    padding: 15px 0
}

.wk-gallery-showcasebox .wk-slideset .set > li > div {
    margin: 0 3px;
    padding: 1px;
    background: #333;
    background: -moz-linear-gradient(top, #333 80%, #222 100%);
    background: -webkit-linear-gradient(top, #333 80%, #222 100%);
    background: -o-linear-gradient(top, #333 80%, #222 100%);
    background: linear-gradient(to bottom, #333 80%, #222 100%);
    border-radius: 5px;
    cursor: pointer
}

.wk-gallery-showcasebox .wk-slideset .set > li > div > div {
    padding: 5px;
    background: #444;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset
}

.wk-gallery-showcasebox .wk-slideset .set > li > div > div > img {
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0.8
}

.wk-gallery-showcasebox .wk-slideset .set > li:hover > div {
    background: #333;
    background: -moz-linear-gradient(top, #333, #222);
    background: -webkit-linear-gradient(top, #333, #222);
    background: -o-linear-gradient(top, #333, #222);
    background: linear-gradient(to bottom, #333, #222);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3)
}

.wk-gallery-showcasebox .wk-slideset .set > li:hover > div > div {
    background: #666;
    background: -moz-linear-gradient(top, #666, #555);
    background: -webkit-linear-gradient(top, #666, #555);
    background: -o-linear-gradient(top, #666, #555);
    background: linear-gradient(to bottom, #666, #555)
}

.wk-gallery-showcasebox .wk-slideset .set > li:hover > div > div > img {
    opacity: 1
}

.wk-gallery-showcasebox .wk-slideset .set > li.active > div {
    background: #222;
    background: -moz-linear-gradient(top, #111, #222);
    background: -webkit-linear-gradient(top, #111, #222);
    background: -o-linear-gradient(top, #111, #222);
    background: linear-gradient(to bottom, #111, #222);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2)
}

.wk-gallery-showcasebox .wk-slideset .set > li.active > div > div {
    background: #444;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset
}

.wk-gallery-showcasebox .wk-slideset .set > li.active > div > div > img {
    opacity: 1
}

.wk-gallery-showcasebox .wk-slideset > div {
    position: relative
}

.wk-gallery-showcasebox .wk-slideset > div .next,
.wk-gallery-showcasebox .wk-slideset > div
.prev {
    top: 50%;
    width: 30px;
    height: 32px;
    margin-top: -16px;
    background: url("/media/widgetkit/widgets/gallery/styles/showcase_box/images/navigation_buttons.png") 0 0 no-repeat
}

.wk-gallery-showcasebox .wk-slideset > div
.next {
    right: 25px;
    background-position: 0 0
}

.wk-gallery-showcasebox .wk-slideset > div
.prev {
    left: 25px;
    background-position: 0 -96px
}

.wk-gallery-showcasebox .wk-slideset > div .next:hover {
    background-position: 0 -32px
}

.wk-gallery-showcasebox .wk-slideset > div .next:active {
    background-position: 0 -64px
}

.wk-gallery-showcasebox .wk-slideset > div .prev:hover {
    background-position: 0 -128px
}

.wk-gallery-showcasebox .wk-slideset > div .prev:active {
    background-position: 0 -160px
}

@media (max-device-width: 1024px) {
    .wk-gallery-showcasebox .slides-container .next,
    .wk-gallery-showcasebox .slides-container
    .prev {
        display: none
    }
}

@media (max-width: 767px) {
    .wk-gallery-showcasebox .wk-slideset > div {
        padding: 0 40px
    }

    .wk-gallery-showcasebox .wk-slideset > div
    .next {
        right: 5px
    }

    .wk-gallery-showcasebox .wk-slideset > div
    .prev {
        left: 5px
    }
}

.wk-gallery-slider {
    overflow: hidden
}

.wk-gallery-slider
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.wk-gallery-slider ul
li {
    float: left;
    overflow: hidden
}

.wk-gallery-slider ul li > a {
    display: block
}

.wk-gallery-slider ul li
.spotlight {
    max-width: none
}

@media (max-width: 767px) {
    .wk-gallery-slider ul li
    .spotlight {
        font-size: 10px;
        line-height: 14px
    }
}

.wk-gallery-wall > * {
    display: block;
    float: left
}

.wk-gallery-wall.margin {
    margin: 0 -15px -15px 0
}

.wk-gallery-wall.margin > * {
    margin: 0 15px 15px 0
}

.wk-gallery-wall.round > *,
.wk-gallery-wall.round > * > img,
.wk-gallery-wall.round .spotlight > img + div {
    border-radius: 10px;
    overflow: hidden
}

.wk-gallery-wall.round .spotlight[data-spotlight*="top"] .overlay {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.wk-gallery-wall.round .spotlight[data-spotlight*="bottom"] .overlay {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.wk-gallery-wall.zoom > * {
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out
}

.wk-gallery-wall.zoom > *:hover {
    z-index: 10;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(0deg) scale(1.2);
    -o-transform: rotate(0deg) scale(1.2);
    -moz-transform: rotate(0deg) scale(1.2);
    -ms-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2)
}

.wk-gallery-wall.polaroid {
    position: relative;
    z-index: 0
}

.wk-gallery-wall.polaroid > * > div {
    position: relative;
    padding: 10px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.wk-gallery-wall.polaroid > * > div:before, .wk-gallery-wall.polaroid > * > div:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 8px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    -ms-transform: skew(-15deg) rotate(-6deg);
    -o-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg)
}

.wk-gallery-wall.polaroid > * > div:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    -ms-transform: skew(15deg) rotate(6deg);
    -o-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg)
}

.wk-gallery-wall.polaroid
p.title {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: #444
}

.wk-gallery-wall.polaroid {
    margin: 30px 0
}

.wk-gallery-wall.polaroid > * {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg)
}

.wk-gallery-wall.polaroid
p.title {
    -webkit-transform-style: preserve-3d
}

.wk-gallery-wall.polaroid > *:nth-child(even) {
    -webkit-transform: rotate(3deg) scale(1.05);
    -moz-transform: rotate(3deg) scale(1.05);
    -ms-transform: rotate(3deg) scale(1.05);
    -o-transform: rotate(3deg) scale(1.05);
    transform: rotate(3deg) scale(1.05)
}

.wk-gallery-wall.polaroid > *:nth-child(5n) {
    -webkit-transform: rotate(-4deg) scale(0.9);
    -moz-transform: rotate(-4deg) scale(0.9);
    -ms-transform: rotate(-4deg) scale(0.9);
    -o-transform: rotate(-4deg) scale(0.9);
    transform: rotate(-4deg) scale(0.9);
    position: relative;
    left: -10px
}

.wk-gallery-wall.polaroid > * {
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out
}

.wk-gallery-wall.polaroid > *:hover {
    position: relative;
    z-index: 10;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(0deg) scale(1.2);
    -o-transform: rotate(0deg) scale(1.2);
    -moz-transform: rotate(0deg) scale(1.2);
    -ms-transform: rotate(0deg) scale(1.2);
    transform: rotate(0deg) scale(1.2)
}

#lightbox-loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104
}

#lightbox-loading
div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url("/media/widgetkit/widgets/lightbox/images/loading.png")
}

#lightbox-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100
}

#lightbox-tmp {
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto
}

#lightbox-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none
}

#lightbox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 0px 15px #555
}

#lightbox-content {
    position: relative;
    width: 0;
    height: 0;
    padding: 0;
    border: 0px solid #FFF;
    outline: none;
    overflow: hidden;
    z-index: 1102
}

#lightbox-close {
    display: none;
    position: absolute;
    top: -17px;
    right: -17px;
    width: 34px;
    height: 34px;
    background: url("/media/widgetkit/widgets/lightbox/images/close.png") 0 0 no-repeat;
    cursor: pointer;
    z-index: 1103
}

#lightbox-error {
    margin: 0;
    padding: 14px;
    font: normal 12px/20px Arial;
    color: #444
}

#lightbox-img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top
}

#lightbox-frame {
    display: block;
    width: 100%;
    height: 100%;
    border: none
}

#lightbox-left, #lightbox-right {
    display: none;
    position: absolute;
    top: 100px;
    bottom: 100px;
    width: 35%;
    outline: none;
    background: url("/media/widgetkit/widgets/lightbox/images/blank.gif");
    z-index: 1102;
    cursor: pointer
}

#lightbox-left {
    left: 0px
}

#lightbox-right {
    right: 0px
}

#lightbox-left-ico, #lightbox-right-ico {
    display: block;
    position: absolute;
    top: 50%;
    left: -9999px;
    z-index: 1102;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/lightbox/images/buttons.png") 0 0 no-repeat;
    cursor: pointer
}

#lightbox-right-ico {
    background-position: 0 -50px
}

#lightbox-left:hover
span {
    left: 30px
}

#lightbox-right:hover
span {
    left: auto;
    right: 30px
}

#lightbox-title {
    font-size: 12px;
    z-index: 1102
}

#lightbox-title.lightbox-title-float {
    padding: 5px 10px;
    position: absolute;
    left: 0;
    bottom: -20px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-weight: bold;
    border-radius: 6px
}

#lightbox-title.lightbox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #FFF;
    position: relative
}

#lightbox-title.lightbox-title-outside {
    padding-top: 10px;
    color: #FFF
}

#lightbox-title.lightbox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: center;
    background: #000;
    background: rgba(0, 0, 0, 0.5)
}

#lightbox-title-over {
    padding: 10px
}

a[data-lightbox] {
    display: inline-block;
    max-width: 100%
}

.mejs-offscreen {
    position: absolute !important;
    top: -10000px;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px
}

.mejs-container {
    position: relative;
    background: #000;
    font-family: Helvetica, Arial;
    text-align: left;
    vertical-align: top;
    text-indent: 0
}

.me-plugin {
    position: absolute
}

.mejs-embed, .mejs-embed
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden
}

.mejs-fullscreen {
    overflow: hidden !important
}

.mejs-container-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000
}

.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen
video {
    width: 100%;
    height: 100%
}

.mejs-clear {
    clear: both
}

.mejs-background {
    position: absolute;
    top: 0;
    left: 0
}

.mejs-mediaelement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

:root .mejs-poster
img {
    display: none
}

.mejs-poster
img {
    border: 0;
    padding: 0;
    border: 0
}

.mejs-overlay {
    position: absolute;
    top: 0;
    left: 0
}

.mejs-overlay-play {
    cursor: pointer
}

.mejs-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/bigplay.svg") no-repeat
}

.no-svg .mejs-overlay-button {
    background-image: url("/media/widgetkit/widgets/mediaplayer/mediaelement/bigplay.png")
}

.mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 -100px
}

.mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: #333;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(0, 0, 0, 0.9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50, 50, 50, 0.9)), to(rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
    background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
    background: -o-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
    background: -ms-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
    background: linear-gradient(rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9))
}

.mejs-overlay-loading
span {
    display: block;
    width: 80px;
    height: 80px;
    background: transparent url("/media/widgetkit/widgets/mediaplayer/mediaelement/loading.gif") 50% 50% no-repeat
}

.mejs-container .mejs-controls {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50, 50, 50, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    height: 30px;
    width: 100%
}

.mejs-container .mejs-controls
div {
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 11px;
    line-height: 11px;
    font-family: Helvetica, Arial;
    border: 0
}

.mejs-controls .mejs-button
button {
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    margin: 7px 5px;
    padding: 0;
    position: absolute;
    height: 16px;
    width: 16px;
    border: 0;
    background: transparent url("/media/widgetkit/widgets/mediaplayer/mediaelement/controls.svg") no-repeat
}

.no-svg .mejs-controls .mejs-button
button {
    background-image: url("/media/widgetkit/widgets/mediaplayer/mediaelement/controls.png")
}

.mejs-controls .mejs-button button:focus {
    outline: dotted 1px #999
}

.mejs-container .mejs-controls .mejs-time {
    color: #fff;
    display: block;
    height: 17px;
    width: auto;
    padding: 10px 3px 0 3px;
    overflow: hidden;
    text-align: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.mejs-container .mejs-controls .mejs-time
a {
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    display: block;
    float: left;
    margin: 1px 2px 0 0;
    width: auto
}

.mejs-controls .mejs-play
button {
    background-position: 0 0
}

.mejs-controls .mejs-pause
button {
    background-position: 0 -16px
}

.mejs-controls .mejs-stop
button {
    background-position: -112px 0
}

.mejs-controls div.mejs-time-rail {
    direction: ltr;
    width: 200px;
    padding-top: 5px
}

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail
a {
    display: block;
    position: absolute;
    width: 180px;
    height: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    margin: 5px;
    background: #333;
    background: rgba(50, 50, 50, 0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 30, 30, 0.8)), to(rgba(60, 60, 60, 0.8)));
    background: -webkit-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: -moz-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: -o-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: -ms-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8))
}

.mejs-controls .mejs-time-rail .mejs-time-buffering {
    width: 100%;
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    background-size: 15px 15px;
    -webkit-animation: buffering-stripes 2s linear infinite;
    -moz-animation: buffering-stripes 2s linear infinite;
    -ms-animation: buffering-stripes 2s linear infinite;
    -o-animation: buffering-stripes 2s linear infinite;
    animation: buffering-stripes 2s linear infinite
}

@-webkit-keyframes buffering-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 30px 0
    }
}

@-moz-keyframes buffering-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 30px 0
    }
}

@-ms-keyframes buffering-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 30px 0
    }
}

@-o-keyframes buffering-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 30px 0
    }
}

@keyframes buffering-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 30px 0
    }
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #3caac8;
    background: rgba(60, 170, 200, 0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(44, 124, 145, 0.8)), to(rgba(78, 183, 212, 0.8)));
    background: -webkit-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
    background: -moz-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
    background: -o-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
    background: -ms-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
    background: linear-gradient(rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
    width: 0
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.8)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    width: 0
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
    display: none;
    position: absolute;
    margin: 0;
    width: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px #333;
    top: -2px;
    text-align: center
}

.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    background: #eee;
    width: 36px;
    height: 17px;
    border: solid 1px #333;
    top: -26px;
    margin-left: -18px;
    text-align: center;
    color: #111
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
    margin: 2px;
    width: 30px;
    display: block;
    text-align: center;
    left: 0
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px #eee;
    border-color: #eee transparent transparent transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 15px;
    left: 13px
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float {
    width: 48px
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-current {
    width: 44px
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-corner {
    left: 18px
}

.mejs-controls .mejs-fullscreen-button
button {
    background-position: -32px 0
}

.mejs-controls .mejs-unfullscreen
button {
    background-position: -32px -16px
}

.mejs-controls .mejs-volume-button {
}

.mejs-controls .mejs-mute
button {
    background-position: -16px -16px
}

.mejs-controls .mejs-unmute
button {
    background-position: -16px 0
}

.mejs-controls .mejs-volume-button {
    position: relative
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
    display: none;
    height: 115px;
    width: 25px;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(50, 50, 50, 0.7);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: -115px;
    left: 0;
    z-index: 1;
    position: absolute;
    margin: 0
}

.mejs-controls .mejs-volume-button:hover {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.5);
    margin: 0
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    margin: 0
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    position: absolute;
    left: 4px;
    top: -3px;
    width: 16px;
    height: 6px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    cursor: N-resize;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0
}

.mejs-controls a.mejs-horizontal-volume-slider {
    height: 26px;
    width: 56px;
    position: relative;
    display: block;
    float: left;
    vertical-align: middle
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    position: absolute;
    left: 0;
    top: 11px;
    width: 50px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #333;
    background: rgba(50, 50, 50, 0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 30, 30, 0.8)), to(rgba(60, 60, 60, 0.8)));
    background: -webkit-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: -moz-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: -o-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: -ms-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
    background: linear-gradient(rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8))
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    left: 0;
    top: 11px;
    width: 50px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.8)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8))
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    display: none
}

.mejs-controls .mejs-captions-button {
    position: relative
}

.mejs-controls .mejs-captions-button
button {
    background-position: -48px 0
}

.mejs-controls .mejs-captions-button .mejs-captions-selector {
    visibility: hidden;
    position: absolute;
    bottom: 26px;
    right: -51px;
    width: 85px;
    height: 100px;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    padding: 10px 10px 0 10px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.mejs-controls .mejs-captions-button .mejs-captions-selector
ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul
li {
    margin: 0 0 6px 0;
    padding: 0;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li
input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li
label {
    width: 55px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-family: helvetica, arial;
    font-size: 10px
}

.mejs-controls .mejs-captions-button .mejs-captions-translations {
    font-size: 10px;
    margin: 0 0 5px 0
}

.mejs-chapters {
    position: absolute;
    top: 0;
    left: 0;
    -xborder-right: solid 1px #fff;
    width: 10000px;
    z-index: 1
}

.mejs-chapters .mejs-chapter {
    position: absolute;
    float: left;
    background: #222;
    background: rgba(0, 0, 0, 0.7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(50, 50, 50, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: -ms-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232, endColorstr=#000000);
    overflow: hidden;
    border: 0
}

.mejs-chapters .mejs-chapter .mejs-chapter-block {
    font-size: 11px;
    color: #fff;
    padding: 5px;
    display: block;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    cursor: pointer
}

.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
    border-right: none
}

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
    background: #666;
    background: rgba(102, 102, 102, 0.7);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(102, 102, 102, 0.7)), to(rgba(50, 50, 50, 0.6)));
    background: -webkit-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
    background: -moz-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
    background: -o-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
    background: -ms-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
    background: linear-gradient(rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666, endColorstr=#323232)
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
    font-size: 12px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 3px 0;
    line-height: 12px
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 4px 0;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mejs-captions-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #fff
}

.mejs-captions-layer
a {
    color: #fff;
    text-decoration: underline
}

.mejs-captions-layer[lang=ar] {
    font-size: 20px;
    font-weight: normal
}

.mejs-captions-position {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0
}

.mejs-captions-position-hover {
    bottom: 35px
}

.mejs-captions-text {
    padding: 3px 5px;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(20, 20, 20, 0.5);
    white-space: pre-wrap
}

.me-cannotplay {
}

.me-cannotplay
a {
    color: #fff;
    font-weight: bold
}

.me-cannotplay
span {
    padding: 15px;
    display: block
}

.mejs-controls .mejs-loop-off
button {
    background-position: -64px -16px
}

.mejs-controls .mejs-loop-on
button {
    background-position: -64px 0
}

.mejs-controls .mejs-backlight-off
button {
    background-position: -80px -16px
}

.mejs-controls .mejs-backlight-on
button {
    background-position: -80px 0
}

.mejs-controls .mejs-picturecontrols-button {
    background-position: -96px 0
}

.mejs-contextmenu {
    position: absolute;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
    top: 0;
    left: 0;
    background: #fff;
    border: solid 1px #999;
    z-index: 1001
}

.mejs-contextmenu .mejs-contextmenu-separator {
    height: 1px;
    font-size: 0;
    margin: 5px 6px;
    background: #333
}

.mejs-contextmenu .mejs-contextmenu-item {
    font-family: Helvetica, Arial;
    font-size: 12px;
    padding: 4px 6px;
    cursor: pointer;
    color: #333
}

.mejs-contextmenu .mejs-contextmenu-item:hover {
    background: #2C7C91;
    color: #fff
}

.mejs-controls .mejs-sourcechooser-button {
    position: relative
}

.mejs-controls .mejs-sourcechooser-button
button {
    background-position: -128px 0
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector {
    visibility: hidden;
    position: absolute;
    bottom: 26px;
    right: -10px;
    width: 130px;
    height: 100px;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    padding: 10px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector
ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul
li {
    margin: 0 0 6px 0;
    padding: 0;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li
input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px
}

.mejs-controls .mejs-sourcechooser-button .mejs-sourcechooser-selector ul li
label {
    width: 100px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-family: helvetica, arial;
    font-size: 10px
}

.mejs-postroll-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(50, 50, 50, 0.7);
    z-index: 1000;
    overflow: hidden
}

.mejs-postroll-layer-content {
    width: 100%;
    height: 100%
}

.mejs-postroll-close {
    position: absolute;
    right: 0;
    top: 0;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(50, 50, 50, 0.7);
    color: #fff;
    padding: 4px;
    z-index: 100;
    cursor: pointer
}

div.mejs-speed-button {
    width: 46px !important;
    position: relative
}

.mejs-controls .mejs-button.mejs-speed-button
button {
    background: transparent;
    width: 36px;
    font-size: 11px;
    line-height: normal;
    color: #fff
}

.mejs-controls .mejs-speed-button .mejs-speed-selector {
    visibility: hidden;
    position: absolute;
    top: -100px;
    left: -10px;
    width: 60px;
    height: 100px;
    background: url("/media/widgetkit/widgets/mediaplayer/mediaelement/background.png");
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    padding: 0;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.mejs-controls .mejs-speed-button:hover > .mejs-speed-selector {
    visibility: visible
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li label.mejs-speed-selected {
    color: rgba(33, 248, 248, 1)
}

.mejs-controls .mejs-speed-button .mejs-speed-selector
ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul
li {
    margin: 0 0 6px 0;
    padding: 0 10px;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li
input {
    clear: both;
    float: left;
    margin: 3px 3px 0 5px;
    display: none
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li
label {
    width: 60px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-family: helvetica, arial;
    font-size: 11.5px;
    color: white;
    margin-left: 5px;
    cursor: pointer
}

.mejs-controls .mejs-speed-button .mejs-speed-selector ul li:hover {
    background-color: rgb(200, 200, 200) !important;
    background-color: rgba(255, 255, 255, .4) !important
}

.mejs-controls .mejs-button.mejs-skip-back-button {
    background: transparent url("/media/widgetkit/widgets/mediaplayer/mediaelement/skipback.png") no-repeat;
    background-position: 3px 3px
}

.mejs-controls .mejs-button.mejs-skip-back-button
button {
    background: transparent;
    font-size: 9px;
    line-height: normal;
    color: #fff
}

.wk-slideset-default
.nav {
    margin-top: 10px;
    text-align: center
}

.wk-slideset-default .nav
li {
    display: inline-block
}

.wk-slideset-default .nav.icon
li {
    margin-left: 5px
}

.wk-slideset-default .nav.text
li {
    margin-left: 40px
}

.wk-slideset-default .nav li:first-child {
    margin-left: 0
}

.wk-slideset-default .nav.icon
span {
    width: 16px;
    height: 15px;
    background: url("/media/widgetkit/widgets/slideset/styles/default/images/nav.png") 0 0 no-repeat;
    overflow: hidden
}

.wk-slideset-default .nav.icon span:hover {
    background-position: 0 -30px
}

.wk-slideset-default .nav.icon span:active {
    background-position: 0 -45px
}

.wk-slideset-default .nav.icon .active
span {
    background-position: 0 -15px
}

.wk-slideset-default .nav.text
span {
    padding: 0 11px
}

.wk-slideset-default .nav.text .active
span {
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.05)
}

.wk-slideset-default > div {
    position: relative
}

.wk-slideset-default > div:hover .next,
.wk-slideset-default > div:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/slideset/styles/default/images/buttons.png") 0 50px no-repeat
}

.wk-slideset-default > div:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-slideset-default > div:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

.wk-slideset-default
.sets {
    margin: 0 -10px
}

.wk-slideset-default
article {
    margin: 0 10px
}

.wk-slideset-default article + strong.title {
    font-weight: normal
}

@media (max-device-width: 1024px) {
    .wk-slideset-default .next,
    .wk-slideset-default
    .prev {
        display: none
    }
}

@media (max-width: 767px) {
    .wk-slideset-default .nav.text
    li {
        margin-left: 10px
    }

    .wk-slideset-default .nav.text li:first-child {
        margin-left: 0
    }

    .wk-slideset-default .nav.text
    span {
        padding: 0 6px;
        font-size: 12px
    }

    .wk-slideset-default .nav.text .active
    span {
        padding: 0 5px
    }
}

.wk-slideshow-default
.nav {
    margin-top: 15px;
    text-align: center
}

.wk-slideshow-default .nav
li {
    display: inline-block;
    margin-left: 5px
}

.wk-slideshow-default .nav li:first-child {
    margin-left: 0
}

.wk-slideshow-default .nav
span {
    width: 16px;
    height: 15px;
    background: url("/media/widgetkit/widgets/slideshow/styles/default/images/nav.png") 0 0 no-repeat;
    overflow: hidden
}

.wk-slideshow-default .nav span:hover {
    background-position: 0 -30px
}

.wk-slideshow-default .nav span:active {
    background-position: 0 -45px
}

.wk-slideshow-default .nav .active
span {
    background-position: 0 -15px
}

.wk-slideshow-default > div {
    position: relative
}

.wk-slideshow-default > div:hover .next,
.wk-slideshow-default > div:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/slideshow/styles/default/images/buttons.png") 0 50px no-repeat
}

.wk-slideshow-default > div:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-slideshow-default > div:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

@media (max-device-width: 1024px) {
    .wk-slideshow-default .next,
    .wk-slideshow-default
    .prev {
        display: none
    }
}

.wk-slideshow-list > div {
    border: 1px solid #ddd;
    background: #FFF;
    border-radius: 5px
}

.wk-slideshow-list
.nav {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 200px;
    border-top: 1px solid #fff;
    border-right: 1px solid #ddd;
    background: #F5F5F5;
    background: -moz-linear-gradient(left, #FDFDFD 97%, #F0F0F0 100%);
    background: -webkit-linear-gradient(left, #FDFDFD 97%, #F0F0F0 100%);
    background: -o-linear-gradient(left, #FDFDFD 97%, #F0F0F0 100%);
    background: linear-gradient(to right, #FDFDFD 97%, #F0F0F0 100%);
    border-radius: 5px 0 0 5px
}

.wk-slideshow-list .nav
li {
    margin-right: -1px;
    padding: 1px 0
}

.wk-slideshow-list .nav
span {
    padding: 10px 15px 8px 15px;
    overflow: hidden
}

.wk-slideshow-list .nav
li.active {
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff
}

.wk-slideshow-list .nav li.active:first-child {
    padding-top: 1px;
    border-top: none;
    border-radius: 5px 0 0 0
}

.wk-slideshow-list .slides-container {
    margin-left: 200px
}

.wk-slideshow-list .slides > li > article {
    padding: 20px
}

.wk-slideshow-list .nav-100 {
    width: 100px
}

.wk-slideshow-list .nav-100 + .slides-container {
    margin-left: 100px
}

.wk-slideshow-list .nav-150 {
    width: 150px
}

.wk-slideshow-list .nav-150 + .slides-container {
    margin-left: 150px
}

.wk-slideshow-list .nav-250 {
    width: 250px
}

.wk-slideshow-list .nav-250 + .slides-container {
    margin-left: 250px
}

@media (max-width: 767px) {
    .wk-slideshow-list .nav
    span {
        padding-left: 10px;
        padding-right: 0;
        font-size: 10px;
        line-height: 14px
    }

    .wk-slideshow-list .nav,
    .wk-slideshow-list .nav-100,
    .wk-slideshow-list .nav-150,
    .wk-slideshow-list .nav-250 {
        width: 80px
    }

    .wk-slideshow-list .slides-container,
    .wk-slideshow-list .nav-100 + .slides-container,
    .wk-slideshow-list .nav-150 + .slides-container,
    .wk-slideshow-list .nav-250 + .slides-container {
        margin-left: 80px
    }
}

.wk-slideshow-screen > div {
    position: relative;
    border-radius: 8px;
    background: #000;
    padding: 15px;
    margin-bottom: 20px
}

.wk-slideshow-screen > div:before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: -10px;
    right: -10px;
    height: 76px;
    background: url("/media/widgetkit/widgets/slideshow/styles/screen/images/shadow.png") 0 0 no-repeat;
    background-size: 100% 100%
}

.wk-slideshow-screen
.caption {
    bottom: 15px;
    left: 15px;
    right: 15px
}

.wk-slideshow-screen
.nav {
    position: relative;
    margin-top: 15px;
    text-align: center
}

.wk-slideshow-screen .nav
li {
    display: inline-block;
    margin-left: 5px
}

.wk-slideshow-screen .nav li:first-child {
    margin-left: 0
}

.wk-slideshow-screen .nav
span {
    width: 13px;
    height: 13px;
    background: url("/media/widgetkit/widgets/slideshow/styles/screen/images/nav.png") 0 0 no-repeat;
    overflow: hidden
}

.wk-slideshow-screen .nav span:hover {
    background-position: 0 -26px
}

.wk-slideshow-screen .nav span:active {
    background-position: 0 -39px
}

.wk-slideshow-screen .nav .active
span {
    background-position: 0 -13px
}

.wk-slideshow-screen > div {
    position: relative
}

.wk-slideshow-screen > div:hover .next,
.wk-slideshow-screen > div:hover
.prev {
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background: url("/media/widgetkit/widgets/slideshow/styles/screen/images/buttons.png") 0 40px no-repeat
}

.wk-slideshow-screen > div:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-slideshow-screen > div:hover
.prev {
    left: 30px;
    background-position: 0 -40px
}

@media (max-device-width: 1024px) {
    .wk-slideshow-screen .next,
    .wk-slideshow-screen
    .prev {
        display: none
    }
}

.wk-slideshow-showcasebox .slides-container {
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: #FFF
}

.wk-slideshow-showcasebox .slides-container {
    position: relative
}

.wk-slideshow-showcasebox .slides-container:hover .next,
.wk-slideshow-showcasebox .slides-container:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/slideshow/styles/showcase_box/images/buttons.png") 0 50px no-repeat
}

.wk-slideshow-showcasebox .slides-container:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-slideshow-showcasebox .slides-container:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

.wk-slideshow-showcasebox .slides > li > article {
    padding: 20px
}

.wk-slideshow-showcasebox .wk-slideset > div {
    padding: 0 60px;
    border: 1px solid #ddd;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #F0F0F0 0%, #FDFDFD 7%);
    background: -webkit-linear-gradient(top, #F0F0F0 0%, #FDFDFD 7%);
    background: -o-linear-gradient(top, #F0F0F0 0%, #FDFDFD 7%);
    background: linear-gradient(to bottom, #F0F0F0 0%, #FDFDFD 7%);
    border-radius: 0 0 5px 5px
}

.wk-slideshow-showcasebox .wk-slideset.no-buttons > div {
    padding: 0
}

.wk-slideshow-showcasebox .wk-slideset
.sets {
    padding: 15px 0
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div {
    margin: 0 5px;
    padding: 1px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div > div {
    padding: 7px;
    background: #F5F5F5;
    border-radius: 5px;
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff;
    text-align: left;
    white-space: nowrap
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div:hover {
    background: #ccc;
    background: -moz-linear-gradient(top, #ddd, #bbb);
    background: -webkit-linear-gradient(top, #ddd, #bbb);
    background: -o-linear-gradient(top, #ddd, #bbb);
    background: linear-gradient(to bottom, #ddd, #bbb);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.10)
}

.wk-slideshow-showcasebox .wk-slideset .set > li > div:hover > div {
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #ebebeb);
    background: -webkit-linear-gradient(top, #fff, #ebebeb);
    background: -o-linear-gradient(top, #fff, #ebebeb);
    background: linear-gradient(to bottom, #fff, #ebebeb)
}

.wk-slideshow-showcasebox .wk-slideset .set > li.active > div {
    background: #bbb;
    box-shadow: none
}

.wk-slideshow-showcasebox .wk-slideset .set > li.active > div > div {
    background: #e6e6e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset
}

.wk-slideshow-showcasebox .wk-slideset > div {
    position: relative
}

.wk-slideshow-showcasebox .wk-slideset > div .next,
.wk-slideshow-showcasebox .wk-slideset > div
.prev {
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: url("/media/widgetkit/widgets/slideshow/styles/showcase_box/images/navigation_buttons.png") 0 0 no-repeat
}

.wk-slideshow-showcasebox .wk-slideset > div
.next {
    right: 25px;
    background-position: 0 0
}

.wk-slideshow-showcasebox .wk-slideset > div
.prev {
    left: 25px;
    background-position: 0 -90px
}

.wk-slideshow-showcasebox .wk-slideset > div .next:hover {
    background-position: 0 -30px
}

.wk-slideshow-showcasebox .wk-slideset > div .next:active {
    background-position: 0 -60px
}

.wk-slideshow-showcasebox .wk-slideset > div .prev:hover {
    background-position: 0 -120px
}

.wk-slideshow-showcasebox .wk-slideset > div .prev:active {
    background-position: 0 -150px
}

@media (max-device-width: 1024px) {
    .wk-slideshow-showcasebox .slides-container .next,
    .wk-slideshow-showcasebox .slides-container
    .prev {
        display: none
    }
}

@media (max-width: 767px) {
    .wk-slideshow-showcasebox .wk-slideset > div {
        padding: 0 40px
    }

    .wk-slideshow-showcasebox .wk-slideset > div
    .next {
        right: 5px
    }

    .wk-slideshow-showcasebox .wk-slideset > div
    .prev {
        left: 5px
    }
}

.wk-slideshow-showcasebuttons .slides-container {
    position: relative
}

.wk-slideshow-showcasebuttons .slides-container:hover .next,
.wk-slideshow-showcasebuttons .slides-container:hover
.prev {
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: url("/media/widgetkit/widgets/slideshow/styles/showcase_buttons/images/buttons.png") 0 50px no-repeat
}

.wk-slideshow-showcasebuttons .slides-container:hover
.next {
    right: 30px;
    background-position: 0 0
}

.wk-slideshow-showcasebuttons .slides-container:hover
.prev {
    left: 30px;
    background-position: 0 -50px
}

.wk-slideshow-showcasebuttons .wk-slideset > div {
    padding: 0 60px
}

.wk-slideshow-showcasebuttons .wk-slideset.no-buttons > div {
    padding: 0
}

.wk-slideshow-showcasebuttons .wk-slideset
.sets {
    padding-top: 15px
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li > div {
    margin: 0 5px;
    padding: 1px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li > div > div {
    padding: 7px;
    background: #F5F5F5;
    border-radius: 5px;
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff;
    text-align: left;
    white-space: nowrap
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li > div:hover {
    background: #ccc;
    background: -moz-linear-gradient(top, #ddd, #bbb);
    background: -webkit-linear-gradient(top, #ddd, #bbb);
    background: -o-linear-gradient(top, #ddd, #bbb);
    background: linear-gradient(to bottom, #ddd, #bbb);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.10)
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li > div:hover > div {
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #ebebeb);
    background: -webkit-linear-gradient(top, #fff, #ebebeb);
    background: -o-linear-gradient(top, #fff, #ebebeb);
    background: linear-gradient(to bottom, #fff, #ebebeb)
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li.active > div {
    background: #bbb;
    box-shadow: none
}

.wk-slideshow-showcasebuttons .wk-slideset .set > li.active > div > div {
    background: #e6e6e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset
}

.wk-slideshow-showcasebuttons .wk-slideset > div {
    position: relative
}

.wk-slideshow-showcasebuttons .wk-slideset > div .next,
.wk-slideshow-showcasebuttons .wk-slideset > div
.prev {
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -8px;
    background: url("/media/widgetkit/widgets/slideshow/styles/showcase_buttons/images/navigation_buttons.png") 0 0 no-repeat
}

.wk-slideshow-showcasebuttons .wk-slideset > div
.next {
    right: 25px;
    background-position: 0 0
}

.wk-slideshow-showcasebuttons .wk-slideset > div
.prev {
    left: 25px;
    background-position: 0 -90px
}

.wk-slideshow-showcasebuttons .wk-slideset > div .next:hover {
    background-position: 0 -30px
}

.wk-slideshow-showcasebuttons .wk-slideset > div .next:active {
    background-position: 0 -60px
}

.wk-slideshow-showcasebuttons .wk-slideset > div .prev:hover {
    background-position: 0 -120px
}

.wk-slideshow-showcasebuttons .wk-slideset > div .prev:active {
    background-position: 0 -150px
}

@media (max-device-width: 1024px) {
    .wk-slideshow-showcasebuttons .slides-container .next,
    .wk-slideshow-showcasebuttons .slides-container
    .prev {
        display: none
    }
}

.wk-slideshow-tabs .nav,
.wk-slideshow-tabs .nav li,
.wk-slideshow-tabs .nav
span {
    float: left
}

.wk-slideshow-tabs .nav
li {
    margin: 0 0 -1px 5px;
    border: 1px solid #ddd;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #FAFAFA, #F5F5F5);
    background: -webkit-linear-gradient(top, #FAFAFA, #F5F5F5);
    background: -o-linear-gradient(top, #FAFAFA, #F5F5F5);
    background: linear-gradient(to bottom, #FAFAFA, #F5F5F5);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff
}

.wk-slideshow-tabs .nav li:first-child {
    margin-left: 0
}

.wk-slideshow-tabs .nav
span {
    padding: 7px 15px 5px 15px;
    overflow: hidden
}

.wk-slideshow-tabs .nav li:hover {
    background: #f0f0f0
}

.wk-slideshow-tabs .nav li:active:not([class*="active"]) span {
    padding-top: 8px;
    padding-bottom: 4px
}

.wk-slideshow-tabs .nav
li.active {
    padding-bottom: 1px;
    border-bottom: none;
    background: #fff
}

.wk-slideshow-tabs .slides-container {
    border: 1px solid #ddd;
    background: #FFF;
    border-radius: 5px
}

.wk-slideshow-tabs .slides > li > article {
    padding: 15px
}

.wk-slideshow-tabs .nav-left + .slides-container {
    border-top-left-radius: 0
}

.wk-slideshow-tabs .nav-center
.nav {
    position: relative;
    left: 50%
}

.wk-slideshow-tabs .nav-center .nav
li {
    position: relative;
    left: -50%
}

.wk-slideshow-tabs .nav-right
.nav {
    float: right
}

.wk-slideshow-tabs .nav-right + .slides-container {
    border-top-right-radius: 0
}

@media (max-width: 767px) {
    .wk-slideshow-tabs .nav
    span {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
        line-height: 14px
    }
}

.wk-slideshow-tabsbar .nav-container {
    border: 1px solid #ddd;
    background: #F5F5F5;
    background: -moz-linear-gradient(top, #FAFAFA, #F5F5F5);
    background: -webkit-linear-gradient(top, #FAFAFA, #F5F5F5);
    background: -o-linear-gradient(top, #FAFAFA, #F5F5F5);
    background: linear-gradient(to bottom, #FAFAFA, #F5F5F5);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff
}

.wk-slideshow-tabsbar .nav,
.wk-slideshow-tabsbar .nav li,
.wk-slideshow-tabsbar .nav
span {
    float: left
}

.wk-slideshow-tabsbar .nav
li {
    margin-bottom: -1px;
    border-right: 1px solid #ddd
}

.wk-slideshow-tabsbar .nav
span {
    margin-right: -2px;
    padding: 7px 17px 5px 15px;
    border-right: 1px solid #fff;
    overflow: hidden
}

.wk-slideshow-tabsbar .nav li:hover {
    background: #f0f0f0
}

.wk-slideshow-tabsbar .nav li:active:not([class*="active"]) {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset
}

.wk-slideshow-tabsbar .nav li:active:not([class*="active"]) span {
    padding-top: 8px;
    padding-bottom: 4px
}

.wk-slideshow-tabsbar .nav
li.active {
    padding-bottom: 1px;
    background: #fff
}

.wk-slideshow-tabsbar .slides-container {
    border: 1px solid #ddd;
    border-top: none;
    background: #FFF;
    border-radius: 0 0 5px 5px
}

.wk-slideshow-tabsbar .slides > li > article {
    padding: 15px
}

.wk-slideshow-tabsbar .nav-left li:hover:first-child,
.wk-slideshow-tabsbar .nav-left li:active:first-child,
.wk-slideshow-tabsbar .nav-left li.active:first-child {
    border-top-left-radius: 5px
}

.wk-slideshow-tabsbar .nav-center
.nav {
    position: relative;
    left: 50%
}

.wk-slideshow-tabsbar .nav-center .nav
li {
    position: relative;
    left: -50%
}

.wk-slideshow-tabsbar .nav-center .nav li:first-child {
    border-left: 1px solid #ddd
}

.wk-slideshow-tabsbar .nav-center .nav li:first-child
span {
    border-left: 1px solid #fff
}

.wk-slideshow-tabsbar .nav-right
.nav {
    float: right
}

.wk-slideshow-tabsbar .nav-right
li {
    border-right: none;
    border-left: 1px solid #ddd
}

.wk-slideshow-tabsbar .nav-right
span {
    border-right: none;
    border-left: 1px solid #fff
}

.wk-slideshow-tabsbar .nav-right li:hover:last-child,
.wk-slideshow-tabsbar .nav-right li:active:last-child,
.wk-slideshow-tabsbar .nav-right li.active:last-child {
    border-top-right-radius: 5px
}

@media (max-width: 767px) {
    .wk-slideshow-tabsbar .nav
    span {
        padding-left: 10px;
        padding-right: 12px;
        font-size: 10px;
        line-height: 14px
    }
}

.spotlight {
    display: inline-block;
    max-width: 100%
}

.spotlight
.overlay {
    visibility: hidden
}

.spotlight .overlay-default {
    background: rgba(0, 0, 0, 0.5) url("/media/widgetkit/widgets/spotlight/images/magnifier.png") 50% 50% no-repeat
}

[data-spotlight] .overlay {
    display: none
}

.spotlight
.overlay {
    background: rgba(0, 0, 0, 0.5)
}

.spotlight .overlay,
.spotlight .overlay
a {
    color: #fff
}

.spotlight .overlay
a {
    text-decoration: underline
}

.spotlight .overlay > div {
    padding: 10px
}

.spotlight .overlay.remove-padding > div {
    padding: 0
}

.spotlight .overlay > div > *:first-child {
    margin-top: 0
}

.spotlight .overlay > div > *:last-child {
    margin-bottom: 0
}

.wk-twitter
.image {
    display: block;
    padding: 3px;
    border: 1px solid #ddd;
    float: left
}

.wk-twitter .image
img {
    display: block
}

.wk-twitter-list
article {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ddd;
    overflow: hidden
}

.wk-twitter-list article:first-child {
    margin: 0;
    padding: 0;
    border: none
}

.wk-twitter-list
.image {
    margin: 3px 10px 0 0
}

.wk-twitter-list
p {
    margin: 0
}

.wk-twitter-list
.meta {
    font-size: 11px;
    font-style: italic
}

.wk-twitter-single.image {
    min-height: 43px;
    padding-left: 70px;
    background: url("/media/widgetkit/widgets/twitter/styles/single/images/bird.png") 0 3px no-repeat
}

.wk-twitter-single
p {
    margin: 0;
    font-style: italic
}

.wk-twitter-single
.content {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    line-height: 30px
}

.wk-twitter-single
.meta {
    font-size: 11px
}

@media (max-width: 767px) {
    .wk-twitter-single.image {
        min-height: 0;
        padding-left: 0;
        background: none
    }

    .wk-twitter-single
    .content {
        font-size: 20px;
        line-height: 26px
    }
}

.wk-twitter-bubbles {
    margin: 0 -5px
}

.wk-twitter-bubbles > article {
    float: left
}

.wk-twitter-bubbles
.content {
    position: relative;
    margin: 0 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #FFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
}

.wk-twitter-bubbles .content:after {
    content: "";
    position: absolute;
    left: 18px;
    bottom: -11px;
    width: 16px;
    height: 11px;
    background: url("/media/widgetkit/widgets/twitter/styles/bubbles/images/arrow.png") 0 0 no-repeat
}

.wk-twitter-bubbles
.meta {
    margin: 10px 5px 0 5px;
    overflow: hidden
}

.wk-twitter-bubbles
.image {
    display: block;
    margin-right: 10px;
    float: left
}

.wk-twitter-bubbles .author,
.wk-twitter-bubbles
time {
    display: block
}

.wk-twitter-bubbles
.author {
    margin-top: 5px
}

.wk-twitter-bubbles
time {
    margin-top: -5px;
    font-size: 11px
}