/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table.greenTable {
  font-family: Arial, Helvetica, sans-serif, serif;
  border: 6px solid #24943A;
  background-color: #D4EED1;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #24943A;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 16px;
}
table.greenTable tr:nth-child(even) {
  background: #579451;
}
table.greenTable thead {
  background: #489440;
  background: -moz-linear-gradient(top, #76af70 0%, #5a9e53 66%, #489440 100%);
  background: -webkit-linear-gradient(top, #76af70 0%, #5a9e53 66%, #489440 100%);
  background: linear-gradient(to bottom, #76af70 0%, #5a9e53 66%, #489440 100%);
  border-bottom: 2px solid #444444;
}
table.greenTable thead th {
  font-size: 22px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 3px solid #24943A;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #F0F0F0;
  background: #55944E;
  background: -moz-linear-gradient(top, #7faf7a 0%, #669e5f 66%, #55944E 100%);
  background: -webkit-linear-gradient(top, #7faf7a 0%, #669e5f 66%, #55944E 100%);
  background: linear-gradient(to bottom, #7faf7a 0%, #669e5f 66%, #55944E 100%);
  border-top: 3px solid #24943A;
}
table.greenTable tfoot td {
  font-size: 14px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}


