<!DOCTYPE html>
<html>
  <head>
    <title>CapstoneV3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', '79d','dd6', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','export','data-turbolinks-track': 'reload' %>
  </head>

<!--  <body>-->

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>SAIGON PHO & GRILL VIETNAMESE NOODLE HOUSE</title>

    <script type="text/javascript">
        window.addEvent('load', function () {
            new JCaption('img.caption');
        });
    </script>

    <link rel="stylesheet" href="/cache/template/gzip.php?template-1eb2e4a4.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed"/>
  </head>

  <body id="page" class="page  isblog  bottom-a-line " data-config='{"twitter":0,"plusone":0,"facebook":0}'>


  <div id="page-bg">
    <div>


      <div class="wrapper grid-block">

        <header id="header" class="grid-block">


          <a id="logo" href="/">
            <div>
              <%=image_tag('logo-circle.png', width: 229, height: 130) %>
            </div>
          </a>



          <nav id="menu">
            <ul class="menu menu-dropdown">
              <li class="level1 item101 active current"><a href="/" class="level1 active current"><span>Home</span></a>
              </li>
              <li class="level1 item113 parent"><a href="/menu/index" class="level1 parent"><span>Menu</span></a>
                <div class="dropdown columns1">
                  <div class="dropdown-bg">
                    <div>
                      <div class="width100 column">
                        <ul class="level2">
                          <li class="level2 item123">
                            <a href="/menu/appetizers" class="level2"><span>Appetizers</span></a>
                          </li>
                          <li class="level2 item124">
                            <a href="/menu/beefnoodlesoups" class="level2"><span>Beef Noodle Soup (Phở Bò)</span></a>
                          </li>
                          <li class="level2 item125">
                            <a href="/menu/special" class="level2"><span>Special (Dặc Biệt)</span></a></li>
                          <li class="level2 item126">
                            <a href="/menu/chickennoodlesoup" class="level2"><span>Chicken Noodle Soup (Phở Gà)</span></a>
                          </li>
                          <li class="level2 item127">
                            <a href="/menu/eggnoodlesoup" class="level2"><span>Egg Noodle Soup (Mì)</span></a></li>
                          <li class="level2 item128">
                            <a href="/menu/steamedriceplate" class="level2"><span>Steamed Rice Plate (Cơm Đĩa)</span></a>
                          </li>
<!--                          <li class="level2 item128">-->
<!--                            <a href="/menu/friedriceplate" class="level2"><span>Fried Rice Plate (Cơm Đĩa)</span></a>-->
<!--                          </li>-->
                          <li class="level2 item129">
                            <a href="/menu/vermicelli" class="level2"><span>Vermicelli (Bún)</span></a></li>
                          <li class="level2 item144">
                            <a href="/menu/sideitems" class="level2"><span>Side Items</span></a>
                          </li>
                          <li class="level2 item132">
                            <a href="/menu/beverages" class="level2"><span>Beverages (Giải Khát)</span></a></li>
                          <li class="level2 item130">
                            <a href="/menu/dessert" class="level2"><span>Dessert (Tráng Miệng)</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="level1 item114"><a href="/location/index" class="level1"><span>Location</span></a></li>
              <li class="level1 item113 parent"><a href="/expense_report" class="level1 parent"><span>Management</span></a>
                <div class="dropdown columns1">
                  <div class="dropdown-bg">
                    <div>
                      <div class="width100 column">
                        <ul class="level2">
                          <li class="level2 item123">
                            <a href="/orders" class="level2"><span>Orders</span></a>
                          </li>
                          <li class="level2 item124">
                            <a href="/items" class="level2"><span>Items</span></a>
                          </li>
                          <li class="level2 item125">
                            <a href="/vendors" class="level2"><span>Vendors</span></a></li>
                          <li class="level2 item126">
                            <a href="/expense_report" class="level2"><span>Reports</span></a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
<!--              <li class="level1 item131"><a href="/pho-saigon-in-the-media" class="level1"><span>Media</span></a></li>-->
            </ul>
          </nav>

          <div id="banner">
            <%=image_tag('banner.png') %>
          </div>

        </header>
    <%= yield %>

        <div id="block-main" class="grid-block">


          <!-- main end -->

          <section id="bottom-a" class="grid-block">
            <div class="grid-box width33 grid-h">
              <div class="module mod-line mod-transparent  deepest">


                <ul class="line frontpage">
                  <li><%=image_tag('icon_service1.png', width: 55, height: 75, align: 'left') %>
                    <h3 class="bigger-title"><a href="/menu/index">Our Menu</a></h3>
                    There‘s something for every taste on our changing menu.
                  </li>
                </ul>
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="grid-box width33 grid-h">
              <div class="module mod-line mod-transparent  deepest">


                <ul class="line frontpage">
                  <li><%=image_tag('icon_service4.png', width: 55, height: 75, align: 'left') %>
                    <h3 class="bigger-title"><a href="/location/index">Our Location</a></h3>
                    4645 Hwy 6, Sugar Land, TX 77478
                  </li>
                </ul>
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="grid-box width33 grid-h">
              <div class="module mod-line mod-transparent  deepest">


                <ul class="line frontpage">
                  <li><%=image_tag('icon_service3.png', width: 55, height: 75, align: 'left') %>
                    <h3 style="color: #84b33a;" class="bigger-title">
                      <a href="https://www.facebook.com/saigonphoandgrill77478" target="_blank">Social
                        Media</a></h3>
                    Follow us on Facebook by Liking our Facebook Page!
                  </li>
                </ul>
              </div>
            </div>
          </section>

        </div>


        <footer id="footer" class="grid-block">

          <a id="totop-scroller" href="#page"></a>

          <div class="module   deepest">

            <ul class="menu menu-line">
              <li class="level1 item101 active current"><a href="/" class="level1 active current"><span>Home</span></a>
              </li>
              <li class="level1 item113"><a href="/menu/index" class="level1"><span>Menu</span></a></li>
              <li class="level1 item114"><a href="/location/index" class="level1"><span>Location</span></a></li>
              <li class="level1 item115"><a href="/expense_report" class="level1"><span>Management</span></a></li>
<!--              <li class="level1 item131"><a href="/pho-saigon-in-the-media" class="level1"><span>Media</span></a></li>-->
            </ul>
          </div>
          <div class="module   deepest">


            <p style="text-align: center;">Saigon Pho & Grill © 2018 | Original Vietnamese Cousine - Sugar Land
              <br/><a href="http://www.uh.edu" target="_blank">Designed by
              Optimizer</a></p>
          </div>
        </footer>

      </div>


    </div>
  </div>

  </body>
</html>
